<html>
    <head>
        <link type="text/css" rel="stylesheet" href=".styles.css">
    </head>
    <body class="expanded">
        <h1>Expanded Message</h1>
        <h3> <%= displayMessage.user %></h3>
        <p> <%= displayMessage.text %></p>
        <p> <%= displayMessage.added %></p>
        <button><a href="/">Close</a></button>
    </body>
</html>