<html>
    <body>
        <form method="POST" action="/new">
            <label for="authorName">User Name <input name="authorName" type="text"/></label>
            <label for="userText">Enter message <textarea name="userText" type="text"></textarea></label>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>>