<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
    </head>>
    <body>
        <navbar>
            <a href="/new">Send Message</a>
        </navbar>
        <h1  class="header"><%- title %></h1>
        <ul class="messageList">
            <% messages.forEach((message) => { %>
            <%- include('messageItem', {message: message}); %>
            <% }); %>
        </ul>
    </body>
</html>